<div class="row" *ngIf="active">
    <div class="col-lg-12">
        <form (ngSubmit)="onSubmit()" #AlbumForm="ngForm">

            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" id="title" placeholder="Title" required [(ngModel)]="model.title" name="title">
                <br><br><br>
                <div *ngIf="errors['title']" class="alert alert-danger">
                    <div *ngFor="let error of errors['title']" class="error">
                        {{error}}
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="artistId">
                    Artist
                </label>
                <select id="artistId" class="form-control" required [(ngModel)]="model.artistId" name="artistId">
                    <option *ngFor="let artist of artists" [value]="artist.id">
                        {{ artist.name }}
                    </option>
                </select>
                <br><br><br>
                <div *ngIf="errors['artistId']" class="alert alert-danger">
                    <div *ngFor="let error of errors['artistId']" class="error">
                        {{error}}
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div *ngIf="model.image">
                    <img [src]="image" />
                    <br><br>
                    <a class="btn btn-danger" (click)="deleteImage($event)">
                        <i class="ion-trash-b" title="delete image"></i>
                        Delete image
                    </a>
                </div>
                <label for="file">Image</label>
                <input type="file" class="form-control" id="file" name="file" (change)="onChangeImage($event)" />
                <div class="displayNone" id="image"></div>
            </div>

            <div *ngIf="errorMessage" class="alert alert-danger">
                {{errorMessage}}
            </div>

            <div class="form-group">
                <div class="col-sm-4 col-sm-offset-2" [class.hidden]="editMode">
                    <a class="btn btn-info" [routerLink]="[listUrl]">cancel</a>
                    <button class="btn btn-success" type="submit" [disabled]="blocked || !AlbumForm.form.valid">create</button>
                </div>

                <div class="col-sm-11 col-sm-offset-1" [class.hidden]="!editMode">
                    <a class="btn btn-info" [routerLink]="[listUrl]">cancel</a>
                    <button class="btn btn-success" type="submit" [disabled]="blocked || !AlbumForm.form.valid">save</button>

                    <button class="btn btn-danger pull-right" type="button" (click)="remove($event)"
                            id="Are you sure that you want delete this record?">delete</button>
                </div>
            </div>
        </form>
    </div>
</div>