<div class="row" *ngIf="active">
    <div class="col-lg-12">
        <form (ngSubmit)="onSubmit()" #UserForm="ngForm">

            <div class="form-group">
                <label for="full_name">Full name</label>
                <input type="text" class="form-control" id="full_name" placeholder="Full name" required [(ngModel)]="model.full_name" name="full_name">
                <br><br><br>
                <div *ngIf="errors['full_name']" class="alert alert-danger">
                    <div *ngFor="let error of errors['full_name']" class="error">
                        {{error}}
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="exampleInputEmail">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail" placeholder="Email" required [(ngModel)]="model.email" name="email">
                <br><br><br>
                <div *ngIf="errors['email']" class="alert alert-danger">
                    <div *ngFor="let error of errors['email']" class="error">
                        {{error}}
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="exampleInputUsername">Username</label>
                <input type="text" class="form-control" id="exampleInputUsername" placeholder="Username" required [(ngModel)]="model.username" name="username">
                <br><br><br>
                <div *ngIf="errors['username']" class="alert alert-danger">
                    <div *ngFor="let error of errors['username']" class="error">
                        {{error}}
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="exampleInputPassword">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword" placeholder="Password" [(ngModel)]="model.password" name="password">
                <br><br><br>
                <div *ngIf="errors['password']" class="alert alert-danger">
                    <div *ngFor="let error of errors['password']" class="error">
                        {{error}}
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="status">
                    Status
                </label>
                <select id="status" class="form-control" required [(ngModel)]="model.status" name="status">
                    <option *ngFor="let status of statuses" [value]="status.key">
                        {{ status.value }}
                    </option>
                </select>
            </div>

            <div class="form-group">
                <label>Avatar</label>
                <div *ngIf="avatar">
                    <img [src]="avatar" />
                    <br><br>
                    <button class="btn btn-danger" (click)="deleteAvatar($event)">
                        <i class="ion-trash-b" title="delete avatar"></i>
                        Delete avatar
                    </button>
                </div>

                <img-cropper [image]="cropperData" [settings]="cropperSettings"></img-cropper><br>
                <img [src]="cropperData.image" [width]="cropperSettings.croppedWidth" [height]="cropperSettings.croppedHeight">
            </div>

            <div class="form-group">
                <label>Phones</label>
                <input type="text" class="form-control" placeholder="Phone" [(ngModel)]="model.phone" name="phone">
                <br>
                <input type="text" class="form-control" placeholder="Mobile phone" [(ngModel)]="model.mobile_phone" name="mobile_phone">
            </div>

            <div class="form-group">
                <div class="col-sm-4 col-sm-offset-2" [class.hidden]="editMode">
                    <a class="btn btn-info" [routerLink]="[listUrl]">cancel</a>
                    <button class="btn btn-success" type="submit" [disabled]="blocked || !UserForm.form.valid">create</button>
                </div>

                <div class="col-sm-11 col-sm-offset-1" [class.hidden]="!editMode">
                    <a class="btn btn-info" [routerLink]="[listUrl]">cancel</a>
                    <button class="btn btn-success" type="submit" [disabled]="blocked || !UserForm.form.valid">save</button>

                    <button class="btn btn-danger pull-right" type="button" (click)="remove($event)"
                            id="Are you sure that you want delete this record?">delete</button>
                </div>
            </div>
        </form>
    </div>
</div>