<pagination-header (perPageChange)="changePerPage($event)" (searchChange)="changeSearch($event)" [canCreate]="true"></pagination-header>
<div class="table-responsive">
    <table class="table table-bordered table-hover table-considered">
        <thead>
            <tr>
                <th><span style="margin: auto 20px;">actions</span></th>
                <th>avatar</th>
                <th>ID</th>
                <th>username</th>
                <th>email</th>
                <th>full name</th>
                <th>status</th>
                <th>phone</th>
                <th>mobile</th>
                <th><span style="margin: auto 34px;">created at</span></th>
                <th><span style="margin: auto 34px;">updated at</span></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of data | paginate: { id: 'server', itemsPerPage: perPage, currentPage: currentPage, totalItems: total }; trackBy: trackByFn">
                <td>
                    <div class="col-xs-2" (click)="editModel(row.id)"><i class="ion-edit" title="edit"></i></div>
                    <div class="col-xs-2" *ngIf="!row.isDeleted" (click)="showDeleteModal(row.id)"><i class="ion-trash-b" title="delete"></i></div>
                </td>
                <td>
                    <img [src]="getAvatar(row)" *ngIf="getAvatar(row)" [ngStyle]="{'width.px': 50}" />
                </td>
                <td>
                    {{ row.id }}
                </td>
                <td>
                    {{ row.username }}
                </td>
                <td>
                    {{ row.email }}
                </td>
                <td>
                    {{ row.full_name }}
                </td>
                <td>
                    {{ row.status }}
                </td>
                <td>
                    {{ getUserPhone(row) }}
                </td>
                <td>
                    {{ getUserMobilePhone(row) }}
                </td>
                <td>
                    {{ row.created_at }}
                </td>
                <td>
                    {{ row.updated_at }}
                </td>
            </tr>
        </tbody>
    </table>
</div>
<pagination-footer (pageChange)="getPage($event)" id="server"></pagination-footer>

<delete-modal [entity]="'user'" (deleteEntity)="delete()"></delete-modal>